<footer class="footer">
  <div class="footer-info container">
    <div class="social-media-block">
      <h4 class="social-media-block_title">Join Us</h4>
      <ul class="social-list">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-telegram"></i></a></li>
        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
      </ul>
    </div>
    <p class="copyright">copyright &copy;2021 . designed by <span>Fancy-Duck</span></p>
  </div>
</footer>

