<header class="header">
  <div class="header-inner container">
    <h1 class="logo header_logo"><a href="#">MyMovie</a></h1>
    <nav class="main-nav">
      <ul class="main-nav_list">
        <li class="main-nav_item"><a class="main-nav_link" href="#">Home</a></li>
        <li class="main-nav_item"><a class="main-nav_link" href="#">Trends</a></li>
        <li class="main-nav_item"><a class="main-nav_link" href="#">Movie</a></li>
        <li class="main-nav_item"><a class="main-nav_link" href="#">Series</a></li>
        <li class="main-nav_item"><a class="main-nav_link" href="#">Tv-show</a></li>
      </ul>
    </nav>
    <div class="profile-block">
      <img class="profile_img" src="http://thumbs.dreamstime.com/z/funny-duck-12791413.jpg" alt="">
      <p class="profile-block_title">Profile<i class="fas fa-caret-down profile-icon"></i></p>
    </div>
  </div>
</header>

