<div class="card-block container">
  <div class="card-list">
    <div class="card-list_item">
      <app-card name="Invasion" year="2020" imgUrl="https://zetflix.top/_dr/6/51382244.jpg"></app-card>
    </div>
    <div class="card-list_item">
      <app-card name="Linkoln" year="2021" imgUrl="https://zetflix.top/_ld/8/s92027301.jpg"></app-card>
    </div>
    <div class="card-list_item">
      <app-card name="Greyhound" year="2020" imgUrl="https://zetflix.top/_ld/5/s13646342.jpg"></app-card>
    </div>
  </div>
</div>
